name: cd

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"
      - name: Check out code
        uses: actions/checkout@v4
      - name: Build
        run: scripts/buildprod.sh
      - name: Deploy
        run: ./notely
        env:
          PORT: "8080"